<body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">FIA </a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/privado/">Inicio</a></li>
                <li><a href="/articulos/">articulos</a></li>
                <li><a href="/usuarios/">usuarios</a></li>
                <li><a href="/comentarios/">comentarios</a></li>
                <li class="divider"></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right" role="form">

            <a href="/cerrar"class = "btn btn-primary">Cerrar sesion</a>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
	
